:root {
    --theme-color:#3867d6;
  }

body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #333;
}

section {
    padding: 20px;
    text-align: center;
   
   
}
#video-photography h2 span {
    /* border-bottom: 3px solid #d35400; */
    padding-bottom: 5px;
    color: var(--theme-color);
    /* text-transform: uppercase; */
    font-size: 3.5rem;
}

#video-photography p {
    font-size: 1.2em;
  /* color: white; */
    /* margin-bottom: 20px; */
    text-align: center;
}



.service-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.service {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    padding: 10px;
}

.service img {
    max-width: 100%;
    border-radius: 5px;
}

.service h3 {
    color:var(--theme-color);
}
.service p{
    color: #000;
}
.price {
    color:var(--theme-color);
    font-weight: bold;
}

button {
    background-color:var(--theme-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:var(--theme-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color:#f7f1f1;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color:#222;
    color: white;
    text-align: center;
    padding: 10px;
}
